@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-gray-blue-100: #e6edf3;
  /* white oppacity */
  --color-white-opp: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: "Caveat";
  src: url("https://fonts.gstatic.com/s/caveat/v17/Wnz6HAc5bAfYB2Q7ZjY5.woff2")
    format("woff2");
}

@font-face {
  font-family: "Araboto";
  src: url("/fonts/araboto-normal-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exile Regular";
  src: url("/fonts/Exile-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Araboto", sans-serif;
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--color-base-100);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fefefb;
  }
  a:hover {
    color: #747bff;
  }
  .progress {
    color: #3b4b66;
  }
}
